<div class="container-fluid">
    <div class="row">
    <img src="assets\about.PNG" alt="about us"  class="d-block w-100"> 
</div>
<div>
    <h3 style="text-align: center; color:darkgray;"><u >ABOUT US</u></h3>
    
    <p>Door to Door Car Wash is a unit of Ola Car Wash that offers you an eco-friendly doorstep car washing and dry cleaning services at an affordable price. It is a b2c web platform that connects customers directly to the nearest service partner. We are expanding doorstep car washing services to every street in the country, so that everyone can enjoy our doorstep car washing and dry cleaning services.</p>
    <p>Nowadays, every city has a large number of vehicles, which do not have adequate cleaning facilities. Car cleaning means proper internal cleaning of the vehicle, which only a professional can do properly. A professional expert can make germs, bacteria and virus free healthy car by removing germs, viruses, bacteria etc. during internal car cleaning.</p>
    <p>We like empowering our unemployed youth to become a successful entrepreneur in the car cleaning and detailing segment. Unemployed youths can join us to start their own car cleaning and detailing business with a low investment.</p>
    <p>Door to Door Car Wash is an innovative and demanding concept in our country; we started it in the year of 2016 under a pilot project in South Delhi. We have received overwhelmingly positive response from our Door to Door Car Wash pilot project; therefore, we have decided to expand it across the country.</p>
    <p>Door2Door Car Wash becomes the identity of a company that has been registered under the Ministry of Corporate Affairs, Govt of India vide CIN: U74999DL2018PTC336740; TAN: DELD20758D; PAN: AAGCD7804C.</p>
    <p>Door to Door Car Wash, despite being a distinct identity of an Indian company, it functions as a service unit of Ola Car Wash Private Limited Company.</p>
</div>


</div>
