<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets\car-logo.png" alt="car-logo" width="60" height="30" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="/booking" class="nav-link">Booking</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="color: white" href="#">Package</a>
          <a class="dropdown-item" style="color: white" (click)="gotoBooking()">Services</a>
          <a class="dropdown-item" style="color: white" href="#">FAQ</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: white" href="#">Privacy Policy</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus" (click)="gotoAbout()">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <div class="mx-2">
      <button *ngIf="!loggedIn" class="btn btn-success" (click)="gotologin()" style="margin-right: 16px"
        data-toggle="modal" data-target="#LoginModal">
        Login
      </button>
      <button *ngIf="!loggedIn" class="btn btn-danger" style="margin-right: 16px" data-toggle="modal"
        data-target="#signupModal">
        Sign Up
      </button>
      <button *ngIf="loggedIn" (click)="logoutUser()" class="btn btn-danger" style="margin-right: 16px"
        data-toggle="modal" data-target="#signupModal">
        Logout
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
<!-- <app-login></app-login> -->
<!-- <app-about></app-about> -->
<!-- <app-contact></app-contact> -->
<!-- <app-booking></app-booking> -->
<!-- <app-book-now></app-book-now> -->

<footer class="text-center text-white" style="background-color: #f1f1f1">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-linkedin"></i></a>
      <!-- Github -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright: All Rights Reserved To
    <a class="text-dark" href="https://mdbootstrap.com/">Company</a>
  </div>
  <!-- Copyright -->
</footer>